.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

body{
  margin: 0;
}

.sortS::before{
  content: '660';
}
.sortB::before{
  content: '660';
}